<% if browser.device.mobile? %>
    <%= render 'mobile.booking.index.html.erb' %>
    <% else %>
    <div class="sm:hidden lg:block">
        <div class="bg-white">
            <%= render 'layouts/desktop_nav' %>
        </div>
        <div class="flex text-base space-x-3 py-4 px-6 uppercase text-gray-700 font-medium">
            <div>rentals in kenya</div>
            <div>></div>
        </div>
        <div>
            <div class="flex gap-4 mx-16 p-6">
                <div class="mx-2 shadow-3xl px-6 py-4 font-semibold capitalize rounded-lg h-auto w-74">
                    <div class="border-b border-gray-700">
                        <div class="flex space-x-2 justify-center items-center">
                            <% if @current_user.profile_picture.attached? %>
                                <%= image_tag @current_user.profile_picture, class:"h-24 w-24 rounded-full object-center border-white border-solid border-4 object-cover" %>
                            <% end %>
                        </div>
                        <div class="text-teal-700 text-center my-2"><%= link_to @current_user.username, user_path(@current_user) %></div>
                    </div>
                    <div class="my-3 text-teal-700">offices:
                        <div class="font-normal text-black"><%= @current_user.location %></div>
                    </div>
                    <div id='call-trigger' class="my-6 font-semibold tracking-wider p-2 w-auto border-2 border-teal-700 bg-white text-teal-700 uppercase text-center" onclick='toggle()'>request a call</div>
                    <div id='call-form' class="hidden px-2 w-40 capitalize">
                        <%= render 'customers/new' %>
                    </div>
                </div>
                <div class="w-full">
                    <div class="">
                        <% if current_user.status == 1  %>
                            <% @bookings.each do |booking| %>
                                <div class="grid grid-cols-3 space-x-3 bg-gray-300 border-b-1 border-black px-12">
                                    <div class="w-48 text-left py-2">
                                        <% if booking.status == 1 %>
                                            <%= link_to booking.name, booking_path(booking) %>
                                            <% else %>
                                                <% if current_user.admin? %>
                                                    <%= link_to booking.name, booking_path(booking) %>
                                                <% else %>
                                                    <%= booking.name %>
                                                <% end %>                                
                                        <% end %>
                                    </div>
                                    <div class="w-48 text-left py-2">
                                        <% if booking.status.nil? %>
                                            unverified
                                            <% elsif booking.status == 1 %>
                                            verified
                                            <% else %>
                                            completed
                                        <% end %>
                                    </div>
                                    <div class="text-teal-700 text-center py-2">
                                        <% if current_user.admin? %>
                                            <% if booking.status.nil? %>
                                                    <%= link_to "verify", verify_booking_path(booking), method: :post,
                                                                        data: { confirm: "You sure?" } %> 
                                                <% elsif booking.status == 1 %> 
                                                    <%= link_to "complete booking", complete_booking_path(booking), method: :post,
                                                                        data: { confirm: "You sure?" } %>
                                                <% else %>
                                            <% end %>
                                        <% end %>
                                        <% if booking.status == 1 && !current_user.admin? %>
                                            <%= link_to "show", booking, class:"text-blue-700 text-center" %>
                                        <% end %>
                                    </div>
                                </div>
                                <br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <%= render 'layouts/desktop_footer' %>
        </footer>
        <script>
            visible = false; //var that keeps track if the content is visible.
            txt = document.getElementById("call-form");
            btn = document.getElementById("call-trigger");
            function toggle() {
                if(visible) {
                    visible = 0;
                    txt.style.display = 'none';
                } else {
                    visible = 1;
                    txt.style.display = 'block';
                }
            };
        </script>
    </div>
<% end %>

