<div class="lg:hidden">
    <%= render "layouts/mobile_nav" %>
        <%= form_for @booking do |f| %>
            <div class="bg-gray-300 text-4xl p-4 mb-32 ">
                <div class="capitalize font-bold text-6xl">find a property in eldoret</div>
                <div class="text-4xl capitalize">an agent will contact you to confirm rental availability</div>
                <br>

                <div class="flex items-center">
                    <div class="capitalize w-1/2">name: </div>
                    <%= f.text_field :name, placeholder: "whats your name?", class: "my-6 p-2 rounded-lg" %>
                </div>
                <div class="flex items-center">
                 <div class="capitalize w-1/2">phone number: </div>
                    <%= f.text_field :phone, placeholder: "your phone number", class: "my-6 p-2 rounded-lg" %>
                </div>
                <div class="flex items-center">
                    <div class="capitalize w-1/2">town: </div>
                    <select name="booking[town_id]" class="p-3 bg-teal-700 text-white">
                        <% Town.all.each do |town| %>
                            <option value="<%= town.id %>"><%= town.name %></option>
                        <% end %>
                    </select>
                </div>
                <div class="flex items-center">
                    <div class="capitalize w-1/2">location: </div>
                    <%= f.text_field :location, placeholder: "estate or location", class: "my-6 p-2 rounded-lg" %>
                </div>
                <div class="flex items-center">
                    <div class="capitalize w-1/2">number of bedrooms: </div>
                    <%= f.text_field :rooms, placeholder: "number of bedrooms", class: "my-6 p-2 rounded-lg" %>
                </div>
                <div class="flex items-center">
                    <div class="capitalize w-1/2">max rental price: </div>
                    <%= f.text_field :rent, placeholder: "rent per month", class: "my-6 p-2 rounded-lg" %>
                </div>
                <div class="flex items-center">
                    <div class="capitalize w-1/2">car space</div>
                    <%= f.text_field :car, placeholder: "e.g 5", class: "my-6 p-2 rounded-lg" %>
                </div>
                <div class="capitalize">additional information</div>
                <%= f.text_area :infor, placeholder: "please add any infor that would be usefull", class: "my-6 p-2 rounded-lg w-full" %>
                  
                <br>
                <%= f.submit "send", disable_with: "Submiting...", class: "bg-gray-900 text-white font-semibold p-4 my-4 capitalize rounded-lg text-6xl mx-70" %>
            </div>
        <% end %>
</div>
<div class="sm:hidden lg:block">
    <div class="bg-white">
        <%= render 'layouts/desktop_nav' %>
    </div>
    <div class="h-full bg-cover bg-center bg-no-repeat" style="background-color: rgba(19, 18, 18, 0.367);background-image: url(https://images.unsplash.com/photo-1568634143420-dc5368d74e4e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);background-blend-mode: multiply;">
        <div class="p-12 flex justify-center items-center">
            <div class="px-6 py-5 rounded-lg border-2 border-gray-700 capitalize text-white" style="background-color: rgba(15, 44, 35, 0.950);">
                <div class="text-center text-2xl text-white uppercase font-semibold">rental booking form</div>
                <div class="my-6">
                    <div class="my-3">hello, whats your name?</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-800 mx-4" placeholder="whats your name?">
                </div>
                <div class="my-6">
                    <div class="my-3">please provide a number we can talk to you through?</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-700 mx-4" placeholder="phone number">
                </div>
                <div class="my-6">
                    <div class="my-3">where do you want to look for a home?</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-700 mx-4" placeholder="town">
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-700" placeholder="estate or area">
                </div>
                <div class="my-6">
                    <div class="my-3">how many rooms should the house have?</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-700 mx-4" placeholder="number of rooms">
                </div>
                <div class="my-6">
                    <div class="my-3">how many bathrooms should the house have?</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-700 mx-4" placeholder="number of bathrooms">
                </div>
                <div class="my-6">
                    <div class="my-3">is it a must to have a servants quotas(SQ)?</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-700 mx-4" placeholder="yes or no">
                </div>
                <div class="my-6">
                    <div class="my-3">how much car room should you have?</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-700 mx-4" placeholder="e.g. two cars">
                </div>
                <div class="my-6">
                    <div class="my-3">any other request or useful information we should know</div>
                    <input class="bg-gray-300 p-2 rounded-lg my-2 text-gray-600 h-48 w-full" placeholder="just anything">
                </div>
                <div class="flex justify-center items-end">
                    <button class="bg-teal-700 text-white font-semibold m-4 rounded-lg uppercase p-4 text-xl">submit</button>
                </div>
            </div>
        </div>
        <footer>
            <%= render 'layouts/desktop_footer' %>
        </footer>
    </div>
</div>