<div class="lg:hidden">
<%= render 'layouts/mobile_nav' %>
    <div  class="px-6 font-bold text-7xl capitalize mx-4"><%= @booking.name %></div>
    <div class="px-4 capitalize text-5xl mx-6">
        <div class="my-3">booked by: <%= link_to @booking.name, bookings_path(@booking) if @booking.name %></div>
        <div class="my-3">phone number: <%= @booking.phone %></div>
        <div class="my-3">town: <%= link_to @booking.town.name, towns_path(@town) if @booking.town %> </div>
        <div class="my-3">location: <%= @booking.location %></div>
        <div class="my-3">max rent: <%= @booking.rent%></div>
        <div class="my-3">bedrooms: <%= @booking.rooms %></div>
        <div class="my-3">car room: <%= @booking.car %></div>
        <div class="my-3">additional infor: <%= @booking.infor %></div>
    </div>
    <% if logged_in? && current_user.admin? %>
        <div  class="px-6 font-bold text-4xl capitalize mx-4 my-6"><%= link_to "edit booking", edit_booking_path %></div>
        <div  class="px-6 font-bold text-4xl text-red-700 capitalize mx-4 my-6"><%= link_to "cancel booking", booking_path, method: :delete, data: { confirm: 'Are you sure you want to cancel your booking?' } %></div>
    <% end %>

<%= render 'layouts/mobile_footer' %>
</div>

    <div class="px-4 capitalize mx-6">
        <div class="my-3">booked by: <%= link_to @booking.name, bookings_path(@booking) if @booking.name %></div>
        <div class="my-3">phone number: <%= @booking.phone %></div>
        <div class="my-3">town: <%= link_to @booking.town.name, towns_path(@town) if @booking.town %> </div>
        <div class="my-3">estate or location: <%= @booking.location %></div>
        <div class="my-3">max rent: <%= @booking.rent%></div>
        <div class="my-3">car room: <%= @booking.car %></div>
        <div class="my-3">bedrooms: <%= @booking.rooms %></div>
        <div class="my-3">additional infor: <%= markdown(@booking.infor) %></div>
    </div>
    <% if logged_in? && current_user.admin? %>
    <div  class="px-6 font-bold text-4xl capitalize mx-4 my-6"><%= link_to "edit booking", edit_booking_path %></div>
        <div  class="px-6 font-bold text-4xl text-red-700 capitalize mx-4 my-6"><%= link_to "cancel booking", booking_path, method: :delete, data: { confirm: 'Are you sure you want to cancel your booking?' } %></div>
    <% end %>
    <% if @booking.status == 1 %>
            <%= link_to "complete booking", complete_booking_path(@booking), method: :post,
                                    data: { confirm: "You sure?" }, class:"font-semibold p-2 rounded-lg text-white bg-teal-700 uppercase text-center my-3" %>
    <% end %>

