<%= form_for @user do |f| %>
    <div class="text-4xl p-4">
        <div class="grid grid-cols-2 gap-4 my-4">
            <%= f.label :username, "username", class: "m-4 p-2 rounded-lg" %>
            <%= f.label :password, "password", class: "m-4 p-2 rounded-lg" %>
        </div>
        <div class="grid grid-cols-2 gap-4 my-4">
            <%= f.text_field :username, placeholder: "enter username", class: "m-4 p-2 rounded-lg" %>
            <%= f.password_field :password, placeholder: "enter password", class: "m-4 p-2 rounded-lg" %>
        </div>
        <div class="grid grid-cols-2 gap-4 my-4">
            <%= f.label :phone_number, "phone", class: "m-4 p-2 rounded-lg" %>
            <%= f.label :email, "email", class: "m-4 p-2 rounded-lg" %>
        </div>
        <div class="grid grid-cols-2 gap-4 my-4">
            <%= f.text_field :phone_number, placeholder: "enter phone number", class: "m-4 p-2 rounded-lg" %>
            <%= f.email_field :email, placeholder: "enter your email", class: "m-4 p-2 rounded-lg" %>
        </div>
        <br>
        <div class="lowercase">which towns do you operate in?</div>
            <%= f.collection_check_boxes :town_ids, Town.all, :id, :name do |cb| %>
            <% cb.label(class: "text-teal-700 px-4 text-4xl"){cb.check_box(class: "bg-teal-700 px-1") + cb.text} %>
        <% end %>
        <br>
        <div>
            <div class="loercase mt-4">change cover photo</div>
            <%= f.file_field :cover_photo %>
        </div>
        <div>
            <div class="lowercase">change profile photo</div>
            <%= f.file_field :profile_picture %>
        </div>
    <%= f.submit (@user.new_record? ? "signup" : "update your account"), disable_with: "processing...", class: "bg-gray-900 text-white font-semibold p-4 my-4 capitalize rounded-lg" %>
    </div>
<% end %>