<div class="lg:hidden">
    <div class="bg-teal-700">
        <%= render 'layouts/mobile_login' %>
    </div>
    <div class="h-screen bg-cover bg-center bg-no-repeat" style="background-color: rgba(19, 18, 18, 0.367);background-image: url(https://images.unsplash.com/photo-1568634143420-dc5368d74e4e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);background-blend-mode: multiply;">
        <div class="flex justify-center items-center">
            <%= form_for(:user, :html => {class: "mt-24 px-4 py-2 rounded-lg border-2 border-gray-700", style:"background-color: rgba(15, 44, 35, 0.619);"}, url: signup_path) do |f| %>
                <div class="text-center font-bold text-4xl uppercase text-gray-200">create account</div>
                    <div class="my-6">
                        <div class="mx-4 my-6">
                            <div class="my-4 text-white font-medium py-4 capitalize text-center text-4xl">username</div>
                            <%= f.text_field :phone_number, placeholder: "enter username", class: "bg-gray-300 text-4xl p-2 rounded-lg w-full" %>
                        </div>
                        <div class="mx-4 my-6">
                            <div class="my-4 text-white font-medium py-4 capitalize text-center text-4xl">password</div>
                            <%= f.password_field :password, placeholder: "enter password", class: "bg-gray-300 text-4xl p-2 rounded-lg w-full" %>
                        </div>
                        <div class="mx-4 my-6">
                            <div class="my-4 text-white font-medium py-4 capitalize text-center text-4xl">phone number</div>
                            <%= f.text_field :phone_number, placeholder: "enter your phone number", class: "bg-gray-300 text-4xl p-2 rounded-lg w-full" %>
                        </div>
                        <div class="mx-4 my-6">
                            <div class="my-4 text-white font-medium py-4 capitalize text-center text-4xl">email address</div>
                            <%= f.email_field :email, placeholder: "enter your email address", class: "bg-gray-300 text-4xl p-2 rounded-lg w-full" %>
                        </div>
                    </div>
                            <br>
                    <div class="my-4 text-white font-medium py-4 capitalize text-center text-4xl">where do you live?</div>
                        <%= f.collection_check_boxes :town_ids, Town.all, :id, :name do |cb| %>
                            <% cb.label(class: "text-white px-4 text-4xl my-4"){cb.check_box(class: "bg-teal-700 px-1") + cb.text} %>
                        <% end %>
                    <%= f.submit "create account", disable_with: "processing...", class: "p-2 bg-teal-700 text-white font-semibold text-center my-4 uppercase rounded-lg w-full text-4xl" %>
                    </div>
                    <div class="text-center"><%= link_to 'login', login_path, class:"my-4 text-white font-medium py-4 normal-case text-4xl" %></div>
            <% end %>
        </div>
    </div>
</div>