<div class="lg:hidden">
    <div class="bg-teal-700 py-4 text-4xl text-white w-full">
        <div class="px-6"><i class="fa fa-chevron-left mr-6"></i><%= link_to "blinkhomes", root_path %></div>
    </div>
    <div class="flex gap-5 bg-cover bg-no-repeat bg-center pt-8 items-center w-full h-66"
        style="background-image: url(<%= url_for(@user.cover_photo) if @user.cover_photo.attached? %>);background-color: rgba(14, 0, 0, 0.564);background-blend-mode:multiply;">
                <div>
                    <% if @user.profile_picture.attached? %>
                        <%= image_tag @user.profile_picture, class:"h-40 w-56 object-center border-white border-solid border-4 object-cover mx-16 mt-12 mb-6" %>
                    <% end %>
                </div>
            <div class="text-xl text-gray-300">
                <div class="text-5xl text-teal-600 font-semibold capitalize"><%= @user.username %></div>
                <% if @user.status == 1  %>
                    <div class="font-medium uppercase text-3xl">agent</div>
                <% end %>
            </div>
    </div>
    <div class="my-4">
        <% if logged_in? && (current_user == @user || current_user.admin?) %>
            <% if @user.status.nil? && current_user.admin? %> 
                    <%= link_to "verify this account", verify_user_path(@user), method: :post,
                            data: { confirm: "You sure verify #{@user.username}?" }, class:"font-semibold p-4 rounded-lg text-white bg-teal-700 uppercase text-center text-4xl mx-4" %> 
                <% elsif @user.status == 1  %>
                    <%= link_to 'add new rental', new_rental_path, class:"font-semibold p-4 rounded-lg text-white bg-teal-700 uppercase text-center text-4xl mx-4" %>
            <% end %>
            <% if logged_in? && current_user.status.nil? %>
                <div class="text-4xl px-3 text-gray-700 border-b-1 border-t-1 py-2 mb-2 normal-case font-normal">
                To add new rentals, call/whatsapp us on 0798767470 and request agent account approval or click below to request for a rental.</div>
                <%= link_to "request a rental", new_booking_path, class:"font-semibold p-4 rounded-lg text-white bg-teal-700 uppercase text-center text-4xl mx-4" %>
            <% end %>
        <% end %>
    </div>
    <div class="font-bold text-4xl capitalize mx-4 my-3">about <%= @user.username %></div>
    <div class="text-3xl font-bold capitalize my-6 p-4 text-teal-700">offices:
        <div class="font-normal text-black text-3xl"><%= @user.location %></div>
    </div>
    <div class="flex justify-center">
    <% if logged_in? && (current_user == @user || current_user.admin?) %>
        <div class="btn bg-teal-700 text-white text-4xl py-4 w-full text-center px-6 my-4 rounded-lg font-medium">
        <%= link_to 'Edit your account', edit_user_path(@user) %></div>
    <% end %>
    </div>
    <br>
        <div class="font-semibold text-gray-600 uppercase text-4xl py-2 px-6">current listings</div>
    <div class="capitalize text-5xl">
        <%= render 'rentals/rental', obj: @user.rentals %>
    </div>
</div>