<div class="lg:hidden">
    <div class="bg-teal-700 py-4 text-4xl text-white w-full">
        <div class="px-6"><i class="fa fa-chevron-left mr-6"></i><%= link_to "#{@user.username}", root_path %></div>
    </div>
    <div class="flex gap-5 bg-cover bg-no-repeat bg-center pt-8 items-center w-full h-66"
        style="background-image: url(<%= url_for(@user.cover_photo) if @user.cover_photo.attached? %>);background-color: rgba(14, 0, 0, 0.564);background-blend-mode:multiply;">
                <div>
                    <% if @user.profile_picture.attached? %>
                        <%= image_tag @user.profile_picture, class:"h-40 w-56 object-center border-white border-solid border-4 object-cover mx-16 mt-12 mb-6" %>
                    <% end %>
                </div>
            <div class="text-xl text-gray-300">
                <div class="text-5xl text-teal-600 font-semibold capitalize"><%= @user.username %></div>
                <% if @user.status == 1  %>
                    <div class="font-medium capitalize text-3xl">patner</div>
                <% end %>
            </div>
    </div>
    <div class="font-bold text-4xl capitalize mx-4 my-3">about <%= @user.username %></div>
    <div class="text-3xl font-bold capitalize my-6 p-4 text-teal-700">offices:
        <div class="font-normal text-black text-3xl"><%= @user.location %></div>
    </div>
    <div class="flex justify-center">
    <% if logged_in? && (current_user == @user || current_user.admin?) %>
        <div class="btn bg-teal-700 text-white text-4xl py-4 w-full text-center px-6 my-4 rounded-lg font-medium">
        <%= link_to 'Edit your account', edit_user_path(@user) %></div>
    <% end %>
    </div>
    <% if logged_in? && current_user.admin? %>
    <div clas="">
        <div class="font-semibold text-gray-600 uppercase text-4xl py-2">important links</div>
        <%= link_to 'all customer requests', customers_path , class:"mx-12 text-3xl font-bold capitalize text-teal-700 my-6 p-4"%>
    </div>
    <% end %>
    <br>
    <% if logged_in? && (current_user == @user || current_user.admin?) %>
        <% if @user.status.nil? && current_user.admin? %> 
                <%= link_to "verify this account", verify_user_path(@user), method: :post,
                        data: { confirm: "You sure verify #{@user.username}?" }, class:"text-4xl px-6 bg-blue-700 py-2 text-white mx-12" %> 
            <% elsif @user.status == 1  %>
            <div><%= link_to 'post new rental', new_rental_path, class:"text-5xl bg-blue-700 text-white border-1 border-teal-700 rounded-lg px-8 py-3 text-center font-bold capitalize mx-4" %></div>
        <% end %>
        <% if @user.status.nil? && (current_user == @user || !current_user.admin?) %>
            <div class="px-12 text-4xl text-gray-800 border-b-1 border-t-1 py-2 mb-2 normal-case font-normal">To add new rentals, call/whatsapp us on 0798767470 and request agent account approval.</div>
        <% end %>
    <% end %>
        <div class="font-semibold text-gray-600 uppercase text-4xl py-2 px-6">current listings</div>
    <div class="capitalize text-5xl">
        <%= render 'rentals/rental', obj: @user.rentals %>
    </div>
</div>