<div class="lg:hidden">
  <%= render 'layouts/mobile_nav' %>
  <div class="p-24">
    <% @users.each do |user| %>
    <div class="my-12">
      <%= link_to user_path(user) do %>
      <div class="rounded-lg pb-10 bg-white shadow-b shadow-r shadow-3xl">
        <div class="text-5xl pt-4 uppercase font-seimbold px-12"><%= user.username %></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= render 'layouts/mobile_footer' %>
</div>
<div class="sm:hidden lg:block">
  <div class="bg-white">
    <%= render 'layouts/desktop_nav' %>
  </div>
  <div>
    <div class="font-semibold text-gray-600 uppercase text-2xl mx-12">list of real estate agencies</div>
    <div class="mx-56">



<% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="flex shadow-3xl my-8 rounded-lg bg-gray-200">
        <div class="w-1/3 rounded-l-lg">
            <% if user.profile_picture.attached? %>
                <%= image_tag user.profile_picture, class:"h-full w-full object-cover rounded-l-lg" %>
            <% end %>
        </div>
        <div class="w-2/3 p-5">
          <div class="text-3xl font-medium capitalize"><%= user.username %> agency</div>
          <div class="text-teal-700 capitalize font-normal text-xl"><%= pluralize(user.rentals.count, "rental") if user.rentals %> properties</div>
          <div class="capitalize text-xl">nairobi</div>
        </div>
      </div>       
    <% end %>  
<% end %>

    </div>
  </div>
  <footer>
    <%= render 'layouts/desktop_footer' %>
  </footer>
</div>