<% if browser.device.mobile? %>
    <%= render "mobile.user.index" %>
    <% else %>
  <div class="sm:hidden lg:block">
    <div class="bg-white">
      <%= render "layouts/desktop_nav" %>
    </div>
    <div>
      <div class="font-semibold text-gray-600 uppercase text-2xl mx-12 mt-4">list of real estate agencies</div>
      <div class="mx-56">
        <% @users.each do |user| %>
          <% if user.status == 1 || (logged_in? && current_user.admin?) %>
            <%= link_to user_path(user) do %>
              <div class="flex shadow-3xl my-8 rounded-lg h-48">
                <div class="w-48">
                    <% if user.profile_picture.attached? %>
                        <%= image_tag user.profile_picture, class: "object-cover object-center h-48 w-48 rounded-l-lg w-full" %>
                    <% end %>
                </div>
                <div class="w-70 p-5 rounded-l-lg">
                  <div class="capitalize text-2xl font-normal"><%= user.username %></div>
                  <div class="text-teal-700 capitalize font-normal text-xl"><%= pluralize(user.rentals.count, "rental property") if user.rentals %></div>
                  <div class="capitalize text-xl">
                    <% if user.towns.any? %>
                        <div class="font-normal text-black"><%= render user.towns %> &nbsp;</div>
                    <% end %>
                  </div>
                </div>
              </div>       
            <% end %>  
          <% end %>
        <% end %>
      </div>
    </div>
    <footer>
      <%= render "layouts/desktop_footer" %>
    </footer>
  </div>
<% end %>