<% if browser.device.mobile? %>
    <%= render 'mobile.user.new' %>
    <% else %>
    <div class="sm:hidden lg:block">
        <div class="bg-white">
            <%= render 'layouts/desktop_nav' %>
        </div>
        <div class="h-full bg-cover bg-center bg-no-repeat" style="background-color: rgba(19, 18, 18, 0.367);background-image: url(https://images.unsplash.com/photo-1568634143420-dc5368d74e4e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);background-blend-mode: multiply;">
            <div class="p-12 flex justify-end items-center text-white">
                <%= form_for @user, :html => {class: "mt-24 px-4 py-2 rounded-lg border-2 border-gray-700", style:"background-color: rgba(15, 44, 35, 0.619);"} do |f| %>
                    <div class="text-center font-bold text-2xl uppercase text-gray-200">find rentals in kenya</div>
                    <div class="flex my-6">
                        <div class="mx-4 my-6">
                            <div class="text-white font-medium py-4 capitalize text-center text-lg">username</div>
                            <%= f.text_field :username, placeholder: "enter username", class: "bg-gray-300 text-lg p-2 rounded-lg text-black" %>
                        </div>
                        <div class="mx-4 my-6">
                            <div class="text-white font-medium py-4 capitalize text-center text-lg">password</div>
                            <%= f.password_field :password, placeholder: "enter password", class: "g-gray-300 text-lg p-2 rounded-lg text-black" %>
                        </div>
                    </div><br>
                        <div class="mx-4 my-6">
                            <div class="text-white font-medium py-4 capitalize text-center text-lg">email address</div>
                            <%= f.email_field :email, placeholder: "enter your email address", class: "g-gray-300 text-lg p-2 rounded-lg w-full text-black" %>
                        </div>
                        <div class="mx-4 my-6">
                            <div class="text-white font-medium py-4 capitalize text-center text-lg">phone number</div>
                            <%= f.text_field :phone_number, placeholder: "enter phone number", class: "bg-gray-300 text-lg p-2 rounded-lg w-full text-black" %>
                        </div>
                    <div class="text-white font-medium">where do you live?</div>
                    <%= f.collection_check_boxes :town_ids, Town.all, :id, :name do |cb| %>
                        <% cb.label(class: "text-white px-4"){cb.check_box(class: "bg-teal-700") + cb.text} %>
                    <% end %>
                    <br>
                    <div class="my-4">
                        <div class="capitalize">cover photo</div>
                        <%= f.file_field :cover_photo %>
                    </div>
                    <div class="my-4">
                        <div class="capitalize">profile photo</div>
                        <%= f.file_field :profile_picture %>
                    </div>
                            <br>
                    <%= f.submit (@user.new_record? ? "signup" : "update your account"), disable_with: "processing...", class: "shadow-3xl p-2 bg-teal-700 text-white font-semibold text-center my-4 uppercase rounded-lg w-full" %>
                <% end %>
            </div>
        <footer>
            <%= render 'layouts/desktop_footer' %>
        </footer>
        </div>
    </div>
<% end %>
    