<div class="lg:hidden">
    <%= render 'layouts/mobile_nav' %>
    <div class="font-bold text-6xl capitalize mx-4">welcome</div>
    <% if logged_in? && current_user.admin? %>
    <%= link_to 'all bookings', bookings_path , class:"text-5xl font-bold capitalize my-6 p-4 text-teal-700"%>
    <%= link_to 'all users', users_path , class:"text-5xl font-bold capitalize my-6 p-4 text-teal-700"%>
    <% end %>
    <br>
    <div class="px-6 capitalize text-5xl mx-6">
        <div class="font-bold">all rentals by <%= @user.username %></div>
        <%= render 'rentals/rental', obj: @user.rentals %>
    </div>
    <% if logged_in? && (current_user == @user || current_user.admin?) %>
    <div class="text-5xl font-bold capitalize mx-4"><%= link_to 'new rental', new_rental_path %></div>
    <div class="font-bold text-5xl capitalize mx-4 my-3">
        <%= link_to 'edit your account', edit_user_path(current_user) %></div>
    <% end %>
    <% if logged_in? && current_user.admin? %>
    <button
        class="mb-40 rounded-lg font-bold text-5xl bg-red-700 capitalize mx-4 text-white px-6"><%= link_to 'delete your account', user_path, method: :delete, data: { confirm: 'Are you sure you want to delete your account and remove all listings linked to this account?' } %></button>
    <% end %>
    <%= render 'layouts/mobile_footer' %>
</div>
<div class="sm:hidden lg:block">
    <div class="bg-white">
      <%= render 'layouts/desktop_nav' %>
    </div>
    <div class="">
        <div class="mx-12 font-semibold text-gray-600 uppercase text-lg py-2">rentals in kenya</div>
        <div class="flex gap-5 bg-cover bg-center pt-8 items-center w-full"
            style="background-image: url(https://images.unsplash.com/photo-1491955478222-69ae25414368?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);background-color: rgba(14, 0, 0, 0.564);background-blend-mode:multiply;">
            <img class="h-32 border-white border-solid border-4 object-cover mx-16 mt-12 mb-6"
                src="https://images.unsplash.com/photo-1549924231-f129b911e442?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="shadow-2xl">
                <div class="text-xl text-gray-300">
                    <div class="text-4xl text-teal-600 font-semibold capitalize"><%= @user.username %> properties</div>
                    <div class="">manla@blinkhomes.com</div>
                    <div class="">0798767470</div>
                </div>
        </div>
    </div>
    <div class="flex gap-4 mx-16 p-6">
        <div class="mx-2 shadow-3xl px-6 py-4 font-semibold capitalize rounded-lg h-auto">
            <div class="my-3 text-teal-700">offices:
                <div class="font-normal text-black">10th Floor Fortis Tower</div>
                <div class="font-normal text-black">Woodvale Grove, Westlands</div>
            </div>
            <div class="my-3 text-teal-700">contacts:
                <div class="font-normal text-black">0798767470</div>
            </div>
            <div class="my-3 text-teal-700">email:
                <div class="font-normal normal-case text-black">brianngeywo@gmail.com</div>
            </div>
        </div>
        <div class="w-full">
           <%= render 'rentals/estate_rentals', obj: @user.rentals %>
        </div>
    </div>
    <footer>
      <nav class="flex bg-green-800 text-white px-24 capitalize w-full py-2 text-lg font-medium items-center">
          <div class="mx-4">get help</div>
          <div class="mx-4">talk to us</div>
          <div class="mx-4">about us</div>
      </nav>
      <div class="grid grid-cols-3 py-12 bg-gray-900 text-gray-500 px-24">
          <div class="capitalize">
              <div class="uppercase font-medium my-4">towns</div>
              <div>nairobi</div>
              <div>eldoret</div>
              <div>kisumu</div>
          </div>
          <div class="capitalize">
              <div class="uppercase font-medium my-4">estates</div>
              <div>hawaii</div>
              <div>kipkorgot</div>
              <div>langas</div>
              <div>westlands</div>
          </div>
          <div class="capitalize">
              <div class="uppercase font-medium my-4">blink patners</div>
              <div>username investments</div>
              <div>shunami properties</div>
              <div>username rentals</div>
          </div>
      </div>
          <nav class="flex bg-white px-24 capitalize w-full py-2 text-md font-medium items-center justify-center">
            <div class="mx-12">blinkhomes</div>
            <div class=""><i class="fa fa-phone-alt mx-2"></i>+254798767470</div>
            <div class="mx-12"><i class="fa fa-home mx-2"></i>eldoret,kipkorgot</div>
            <div class="mx-12">@blinkhomes <i class="far fa-copyright text-sm"></i>2020</div>
            <div class="mx-12">follow us on: <i class="fab fa-facebook-square text-blue-600 mx-2"></i></div>
        </nav>
  </footer>
</div>