<div class="lg:hidden">
<%= render 'layouts/top_nav' %>
    <div  class="font-bold text-6xl capitalize mx-4">welcome</div>
    <% if logged_in? && current_user.admin? %>
        <%= link_to 'all bookings', bookings_path , class:"text-5xl font-bold capitalize my-6 p-4 text-teal-700"%>
        <%= link_to 'all users', users_path , class:"text-5xl font-bold capitalize my-6 p-4 text-teal-700"%>
    <% end %>
    <br>
    <%= link_to 'request booking', new_booking_path , class:"btn text-5xl font-bold capitalize m-6 my-8 shadow-2xl border-1 border-white bg-teal-700 p-4 text-white rounded-lg"%>

    <div class="px-6 capitalize text-5xl mx-6">
        <div  class="font-bold">all rentals by <%= @user.username %></div>
    <%= render 'rentals/rental', obj: @user.rentals %>
    </div> 
    <% if logged_in? && (current_user == @user || current_user.admin?) %>
        <div class="text-5xl font-bold capitalize mx-4"><%= link_to 'new rental', new_rental_path %></div>
        <div  class="font-bold text-5xl capitalize mx-4 my-3"><%= link_to 'edit your account', edit_user_path(current_user) %></div>
    <% end %>
        <% if logged_in? && current_user.admin? %>
        <button  class="mb-40 rounded-lg font-bold text-5xl bg-red-700 capitalize mx-4 text-white px-6"><%= link_to 'delete your account', user_path, method: :delete, data: { confirm: 'Are you sure you want to delete your account and remove all listings linked to this account?' } %></button>
    <% end %>
<%= render 'layouts/bottom_nav' %>
</div>