<% if browser.device.mobile? %>
    <%= render 'mobile.user.show' %>
    <% else %>
    <div class="sm:hidden lg:block">
        <div class="bg-white">
        <%= render 'layouts/desktop_nav' %>
        </div>
        <div class="">
            <div class="mx-12 font-semibold text-gray-600 uppercase text-lg py-2">rentals in kenya</div>
            <div class="flex gap-5 bg-cover bg-no-repeat bg-center pt-8 items-center w-full h-66"
                style="background-image: url(<%= url_for(@user.cover_photo) if @user.cover_photo.attached? %>);background-color: rgba(14, 0, 0, 0.564);background-blend-mode:multiply;">
                        <div>
                            <% if @user.profile_picture.attached? %>
                                <%= image_tag @user.profile_picture, class:"h-40 w-56 object-center border-white border-solid border-4 object-cover mx-16 mt-12 mb-6" %>
                            <% end %>
                        </div>
                    <div class="text-xl text-gray-300">
                        <div class="text-4xl text-teal-600 font-semibold capitalize subpixel-antialiased"><%= @user.username %></div>
                        <% if @user.status == 1  %>
                                <div class="font-medium tracking-wider capitalize">patner</div>
                        <% end %>
                    </div>
            </div>
        </div>
        <div class="flex gap-4 mx-16 p-6">
            <div class="mx-2 shadow-3xl px-6 py-4 font-semibold capitalize rounded-lg h-auto w-74">
                <div class="text-teal-700">offices:
                    <div class="font-normal text-black"><%= @user.location %></div>
                </div>
                <div class="text-teal-700">available in:
                    <% if @user.towns.any? %>
                        <div class="font-normal text-black"><%= render @user.towns %> &nbsp;</div>
                    <% end %>
                </div>
                <div class="font-semibold text-teal-700 uppercase">
                    <% if logged_in? && (current_user == @user || current_user.admin?) %>
                        <% if @user.status.nil? && current_user.admin? %> 
                                <%= link_to "verify this account", verify_user_path(@user), method: :post,
                                        data: { confirm: "You sure verify #{@user.username}?" } %> 
                            <% elsif @user.status == 1  %>
                                <div class="normal-case"><%= link_to 'new rental', new_rental_path %></div>
                        <% end %>
                        <% if @user.status.nil? && current_user %>
                            <div class="text-md text-gray-700 border-b-1 border-t-1 py-2 mb-2 normal-case font-normal">To add new rentals, call/whatsapp us on 0798767470 and request agent account approval.</div>
                        <% end %>
                        <div class="normal-case"><%= link_to 'edit account', edit_user_path(@user) %></div>
                        <div class="font-semibold p-2 rounded-lg text-white bg-teal-700 uppercase text-center my-3"><%= link_to "find a home", new_booking_path %></div>
                    <% end %>
                </div>
            </div>
            <div class="w-full">
                <div class="font-semibold text-gray-600 uppercase text-xl py-2">current listings</div>
                <div class="mx-6">
                    <%= render 'rentals/estate_rentals', obj: @user.rentals %>
            </div>
            </div>
        </div>
        <footer>
            <%= render 'layouts/desktop_footer' %>
    </footer>
    </div>
<% end %>