<% obj.each do |rental| %>
    <%= link_to rental_path(rental) do %> 
        <div class="flex shadow-3xl my-8 rounded-lg h-48">
            <div class="w-48">
              <% if rental.cover_image.attached? %>
                  <%= image_tag rental.cover_image, class:"object-cover object-center h-48 w-48 rounded-l-lg w-full" %>
              <% end %>
            </div>
            <div class="w-70 p-5">
                <div class="capitalize text-2xl font-normal"><%= rental.name  %></div>
                <div class="capitalize text-xl text-gray-800">
                <%= rental.town.name if rental.town %>,<%= rental.estate.name if rental.estate %></div>
                <div class="text-gray-600 font-bold">kshs <%= rental.price %></div>
                <div class="flex items-center justify-start text-base text-teal-700 space-x-3">
                    <span class=""><i class="fa fa-bed"></i> <%= rental.bedrooms %></span>
                    <span class=""><i class="fa fa-wifi"></i> <%= rental.wifi %> </span>
                </div>
            </div>
        </div>
      <% end %>
<% end %>
