<%= form_for @rental do |f| %>

<% if @rental.errors.any? %>
    <% @rental.errors.full_messages.each do %>%
        <div><%= msg %></div>
    <% end %>
<% end %>

  <div class="text-4xl p-4">
        <div class="capitalize">property name</div>  
            <%= f.text_field :name, placeholder: "property name", class: "m-4 p-2 rounded-lg" %>
        <div class="capitalize">monthly payment</div>
            <%= f.text_field :price, placeholder: "price per month", class: "m-4 p-2 rounded-lg" %>
        <div class="capitalize">number units</div>
                <%= f.number_field :units, placeholder: "units", class: "m-4 p-2 rounded-lg" %>
        <div class="capitalize">number of bedrooms</div>
                <%= f.number_field :bedrooms, placeholder: "bedrooms", class: "m-4 p-2 rounded-lg" %>
        <div class="capitalize">contacts</div>
            <%= f.text_field :contacts, placeholder: "agent contacts", class: "m-4 p-2 rounded-lg" %>
            <%= f.file_field :photo, class: "m-4 p-2 rounded-lg" %>
            <br>
        <%= f.submit "Submit", disable_with: "Submiting...", class: "bg-gray-900 text-white font-semibold p-4 my-4 capitalize rounded-lg" %>
        </div>
<% end %>