<div class="bg-gray-200 h-screen">
    <div class="flex bg-teal-700 py-4 text-4xl text-white w-full sticky top-0">
        <div class="px-6 flex flex-grow">
            <div class="mx-6">
            <%= link_to rentals_path do%>
                <i class="fa fa-chevron-left mr-6"></i>
            <% end %>
            <%= @rental.town.name %>
            </div>|
            <div class="mx-6 flex-grow"><%= @rental.estate.name %></div>
            <% if logged_in? && (current_user == @rental.user || current_user.admin?) %>
                <div class="font-medium capitalize"><%= link_to 'edit rental', edit_rental_path %></div>
            <% end %>
        </div>
    </div>
        <div>
            <% if @rental.cover_image.attached? %>
                <%= image_tag @rental.cover_image, class:"rounded-b rounded-lg object-cover bg-no-repeat w-full h-74" %>
            <% end %>
        </div>
        <div class="border-b-1 border-gray-500 py-4">
            <%= link_to 'Book this rental', rentors_path(rental_id: @rental.id), :method => 'post', :class=>"capitalize text-4xl font-bold mx-5 bg-blue-700 p-4 text-white" %>
        </div>
        <div class="font-bold text-7xl capitalize mx-4">
            <%= @rental.name %>
        </div>
        <div class="px-8 py-2 capitalize border-1 border-gray-400">
            <div class="text-4xl my-3 text-gray-800">
                <span class="mx-4"><i class="fa fa-bed mx-1"></i> <%= @rental.bedrooms %><span>
                <span class="mx-4"><i class="fa fa-bath mx-1"></i> <%= @rental.bathrooms %><span>
                <span class="mx-4"><i class="fa fa-car mx-1"></i> <%= @rental.parking %><span>
                <span class="mx-4"><i class="fa fa-wifi mx-1"></i> <%= @rental.wifi %><span>
                <span class="mx-4"><i class="fas fa-house-user mx-1"></i><%= @rental.units %><span>
            </div>
            <div class="text-teal-700 font-bold text-4xl border-t-2 border-gray-500 py-4"><i class="fa fa-calculator mx-2"></i>rental charges is kshs <%= @rental.price %></div>
        </div>
        <div class="px-8 py-2 capitalize border-1 border-gray-400 flex justify-center items-center">
            <div class="text-teal-700 font-bold text-5xl py-4"><i class="fa fa-phone-volume mx-2"></i><i class="fa fa-sms mx-2"></i> 0798767470</div>
        </div>    
        <div class="text-xl font-Arial text-gray-700 text-center my-2">*please pay through blinkhomes to avoid bieng conned</div>
        <div class="px-8 py-4 border-1 border-gray-400">
            <div class="uppercase text-gray-500 font-semibold text-4xl my-3">property photos </div>
            <% if @rental.photos.attached? %>
                <div class="flex justify-center items-center">
                    <div class="px-4 grid grid-cols-3 space-x-3 space-y-3">
                        <% (0...@rental.photos.count).each do |photo| %>
                            <div class="border-2 border-white">
                                <%= image_tag(@rental.photos[photo], class:"object-cover object-center h-48 w-48") %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="mx-2">
            <div class="my-4 mx-2 text-4xl">
                <div class="font-medium text-teal-700 capitalize my-3 text-5xl">features</div>
                <div class="grid grid-cols-2 px-6 text-gray-800 capitalize">                
                    <% @rental.rental_features.each do |rental_feature| %>
                    <div class="my-1"><%= rental_feature.name %></div>             
                    <% end %>                    
                </div>
            </div>
            <div class="">
                <div class="font-medium text-teal-700 capitalize my-3 text-5xl">property description</div>
                <div class="mx-3 font-Arial text-3xl text-black"><%= markdown(@rental.description) if @rental.description.present? %> </div>
            </div>
        </div>
</div>