<div class="lg:hidden">
<%= render 'layouts/mobile_nav' %>
    <div class="bg-cover bg-center h-56"
        style="background-image: url(https://images.unsplash.com/photo-1531877264583-a58acd888a97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
        <div class="text-3xl font-semibold capitalize text-white pb-6 font-sans text-center py-6">search eldoret's biggest rentals</div>
        </div>
    </div>
    <div class="">
        <% @rentals.each do |rental| %>
            <div class="border-t border-b border-gray-600 my-1 py-2">
                <div class="flex space-x-12 items-center my-4 px-12">
                    <div>
                        <% if rental.user.profile_picture.attached? %>
                            <%= image_tag rental.user.profile_picture, class:"rounded-full object-cover object-center border-2 border-gray-900 h-24 w-24" %>
                        <% end %>
                    </div>
                    <div>
                        <div class="text-3xl text-teal-700 font-medium uppercase"><%= link_to rental.user.username, user_path(rental.user) %></div>
                        <div class="text-2xl font-medium uppercase"><i class="fa fa-map-marker-alt text-teal-700 mx-2"></i><%= link_to rental.town.name, town_path(rental.town) if rental.town %>,<%= link_to rental.estate.name, estate_path(rental.estate) if rental.estate  %></div>
                    </div>
                </div>
                <div class="bg-white">
                    <%= link_to rental_path(rental) do %> 
                        <div class="rounded-lg pb-10 bg-white shadow-b shadow-r shadow-3xl">
                            <% if rental.cover_image.attached? %>
                                <%= image_tag rental.cover_image, class:"rounded-b rounded-lg object-cover bg-no-repeat w-full h-74" %>
                            <% end %>
                            <div class="text-5xl pt-4 uppercase font-seimbold px-12"><%= rental.name  %></div>
                            <div class="">
                                <div class="text-4xl px-6"><i class="fa fa-bed text-teal-700 mx-2"></i> <%= pluralize(rental.bedrooms, "room") %></div>
                                <div class="text-4xl px-6 py-2 capitalize">kshs <%= rental.price %></div>
                            </div>
                        </div>  
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>