<% if browser.device.mobile? %>
    <%= render 'mobile.rental.bookings' %>
    <% else %>
    <div class="">
        <div class="bg-white">
            <%= render 'layouts/desktop_nav' %>
        </div>
        <div class="flex text-base space-x-3 py-4 px-6 uppercase text-gray-700 font-medium">
            <div>rentals in kenya</div>
            <div>></div>
            <div>
                <%= link_to town_path(@rental.town) do %>
                    <%= @rental.town.name %>
                        <% end %>
            </div>
            <div>></div>
            <div>
                <%= @rental.name %>
            </div>
        </div>
        <div>
            <div class="bg-cover bg-center h-56 items-baseline relative" style="background-image: url(<%= url_for(@rental.cover_image) if @rental.cover_image.attached? %>);background-color: rgba(0, 0, 0, 0.487);background-blend-mode: multiply;">
                <div class="text-4xl font-semibold px-16 py-8 text-white uppercase bottom-0 absolute">
                    <%= @rental.name %> bookings
                </div>
            </div>
            <div class="flex gap-4 mx-8 p-6">
                <div class="mx-2 shadow-3xl px-6 py-4 font-semibold capitalize rounded-lg h-auto w-74">
                    <div class="border-b border-gray-700">
                        <div class="flex space-x-2 justify-center items-center">
                            <% if @rental.user.profile_picture.attached? %>
                                <%= image_tag @rental.user.profile_picture, class:"h-24 w-24 rounded-full object-center border-white border-solid border-4 object-cover" %>
                            <% end %>
                        </div>
                        <div class="text-teal-700 text-center my-2"><%= link_to @rental.user.username, user_path(@rental.user) %></div>
                    </div>
                    <div class="my-3 text-teal-700">offices:
                        <div class="font-normal text-black"><%= @rental.user.location %></div>
                    </div>
                    <% if logged_in? && (current_user == @rental.user || current_user.admin?) %>
                        <div class="my-6"><%= link_to "edit rental", edit_rental_path, class:"font-semibold tracking-wider p-3 w-auto border-2 border-teal-600 bg-teal-700 text-white uppercase text-center" %></div>
                    <% end %>
                    <div class="my-6"><i class="fa fa-chevron-left mx-1"></i><%= link_to "go back to #{@rental.name}", rental_path, class:"font-semibold text-center" %></div>
                </div>
                <div class="w-full">
                    <div class="my-4 mx-2 text-sm shadow-xl rounded-lg px-6 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                        <div class=" capitalize my-3">you have <%= pluralize(@rental.rentors.all.count, "booking") %> in total for <%= @rental.name %> </div>
                        <%= render 'rentors/rentor', obj: @rental.rentors %>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <%= render 'layouts/desktop_footer' %>
        </footer>
    </div>
    
<% end %>
    