<div class="lg:hidden">
    <%= render 'layouts/mobile_nav' %>
        <div>
            <% if @rental.cover_image.attached? %>
                <%= image_tag @rental.cover_image, class:"rounded-b rounded-lg object-cover bg-no-repeat w-full h-74" %>
                    <% end %>
        </div>
        <div class="font-bold text-7xl capitalize mx-4">
            <%= @rental.name %>
        </div>
        <div class="p-6 capitalize text-5xl mx-6 mb-32">
            <div class="my-4">
                <%= link_to @rental.town.name, towns_path(@town) if @rental.town %>,
                    <%= link_to @rental.estate.name, estates_path(@estate) if @rental.estate %> estate</div>
            <div class="my-4">kshs
                <%= @rental.price %> per month</div>
            <div class="my-4">
                <%= @rental.units %> units</div>
            <div class="my-4">
                <%= @rental.bedrooms %> bedrooms</div>
            <div class="my-4">
                <div>for more infor and site view</div>
                <%= @rental.contacts %>
            </div>
            <div class="my-4">created by:
                <%= @rental.user.username if @rental.user %>
            </div>

            <% if logged_in? && (current_user == @rental.user || current_user.admin?) %>
                <%= link_to 'edit rental', edit_rental_path %>
                <%= link_to 'delete rental', rental_path, method: :delete ,class: "btn bg-red-700 mx-4 p-4 rounded-lg font-semibold text-white" %>
            <% end %>
        </div>
        <div>
            <% if @rental.photos.attached? %>
                <div class="grid grid-cols-3">
                    <% (0...@rental.photos.count).each do |photo| %>
                        <div class="my-2 mx-2">
                            <%= image_tag(@rental.photos[photo], class:"object-cover w-full h-74") %>
                        </div>
                        <% end %>
                </div>
                <% end %>
        </div>
        <%= render 'layouts/mobile_footer' %>
</div>
<div class="sm:hidden lg:block">
    <div class="bg-white">
        <%= render 'layouts/desktop_nav' %>
    </div>
    <div class="flex text-base space-x-3 py-4 px-6 uppercase text-gray-700 font-medium">
        <div>rentals in kenya</div>
        <div>></div>
        <div>
            <%= link_to town_path(@rental.town) do %>
                <%= @rental.town.name %>
                    <% end %>
        </div>
        <div>></div>
        <div>
            <%= @rental.name %>
        </div>
    </div>
    <div>
        <div class="bg-cover bg-center h-66 items-baseline relative" style="background-image: url(<%= url_for(@rental.cover_image) if @rental.cover_image.attached? %>);background-color: rgba(0, 0, 0, 0.487);background-blend-mode: multiply;">
            <div class="text-4xl font-semibold px-16 py-8 text-white uppercase bottom-0 absolute">
                <%= @rental.name %>
            </div>
        </div>
        <div class="flex gap-4 mx-16 p-6">
            <div class="mx-2 shadow-3xl px-6 py-4 font-semibold capitalize rounded-lg h-auto w-74">
                <div class="border-b border-gray-700">
                    <div class="flex space-x-2 justify-center items-center">
                        <% if @rental.user.profile_picture.attached? %>
                            <%= image_tag @rental.user.profile_picture, class:"h-24 w-24 rounded-full object-center border-white border-solid border-4 object-cover" %>
                        <% end %>
                    </div>
                    <div class="text-teal-700 text-center my-2"><%= link_to @rental.user.username, user_path(@rental.user) %></div>
                </div>
                <div class="my-3 text-teal-700">offices:
                    <div class="font-normal text-black"><%= @rental.user.location %></div>
                </div>
                <div id='call-trigger' class="my-6 font-semibold tracking-wider p-2 w-auto border-2 border-teal-700 bg-white text-teal-700 uppercase text-center" onclick='toggle()'>request a call</div>
                <form id='call-form' class="hidden px-2 w-40 capitalize">
                    <label class="my-2">phone number:</label>
                    <input class="p-2 bg-white rounded-lg">
                    <label class="my-2">name:</label>
                    <input class="p-2 bg-white rounded-lg">
                    <button class="font-semibold tracking-wider p-2 w-full my-3 border-2 border-teal-600 bg-teal-700 text-white uppercase text-center">send</button>
                </form>
                <% if logged_in? && (current_user == @rental.user || current_user.admin?) %>
                    <div class="my-6"><%= link_to "edit rental", edit_rental_path, class:"font-semibold tracking-wider p-3 w-auto border-2 border-teal-600 bg-teal-700 text-white uppercase text-center" %></div>
                <% end %>
            </div>
            <div class="w-full">
                <div class="my-4 mx-6 shadow-xl rounded-lg px-8 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                    <div class="text-md my-3 text-gray-700">
                        <span class="mx-2"><i class="fa fa-bed mx-1"></i><%= @rental.bedrooms %><span>
                        <span class="mx-2"><i class="fa fa-bath mx-1"></i><%= @rental.bedrooms %><span>
                        <span class="mx-2"><i class="fa fa-car mx-1"></i><%= @rental.bedrooms %><span>
                        <span class="mx-2"><i class="fas fa-house-user mx-1"></i><%= @rental.units %><span>
                    </div>
                    <div class="text-teal-700 font-bold text-lg border-t-2 border-b-2 border-gray-500 py-4"><i class="fa fa-calculator mx-2"></i>rental charges is kshs <%= @rental.price %></div>
                    <div class="text-xs font-Arial text-gray-500 text-center my-2">*please pay through the provided paybill number to avoid bieng conned</div>
                </div>
                <div class="my-4 mx-6 shadow-xl rounded-lg px-8 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                    <div class="font-medium text-teal-700 capitalize my-3 text-2xl">property features</div>
                    <div class="grid grid-cols-3 px-6 text-gray-800 capitalize">
                        <div class="my-1">Secure Parking</div>
                        <div class="my-1">Air conditioning</div>
                        <div class="my-1">Balcony / Deck</div>
                        <div class="my-1">Built in wardrobes</div>
                        <div class="my-1">Ensuite</div>
                        <div class="my-1">Garden / Courtyard</div>
                        <div class="my-1">Intercom</div>
                    </div>
                </div>
                <div class="my-4 mx-6 shadow-xl rounded-lg px-8 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                <div class="uppercase text-gray-500 font-semibold text-sm my-2">property photos </div>
                    <% if @rental.photos.attached? %>
                        <div class="px-4 grid grid-cols-5">
                            <% (0...@rental.photos.count).each do |photo| %>
                                <div class="border-2 border-white w-32">
                                    <%= image_tag(@rental.photos[photo], class:"object-cover h-24 w-32") %>
                                </div>
                                <% end %>
                        </div>
                    <% end %>
                </div>
                <div class="my-4 mx-6 shadow-xl rounded-lg py-4 px-8 border-1 border-gray-400 bg-gray-200">
                    <div class="font-medium text-teal-700 capitalize my-3 text-2xl">property description</div>
                    <div class="font-Arial text-md text-gray-700"><%= markdown(@rental.description) if @rental.description.present? %> </div>
                </div>
                <div class="my-4 mx-6 shadow-xl rounded-lg px-6 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                    <div class="uppercase my-2 text-xl font-bold text-gray-600">property faqs</div>
                    <div class="mx-4">
                        <div class="my-2">
                            <div id='question' class="text-lg">how many bedrooms does this property have?</div>
                            <div class="text-md text-gray-800 mx-5 normal-case hidden" id='answer'>the property has
                                <%= @rental.bedrooms %> bedrooms</div>
                        </div>
                        <div class="my-2">does this property have a servants quoters(SQ)?</div>
                        <div class="my-2">how much car space is available?</div>
                        <div class="my-2">how far is this property from eldoret town?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%= render 'layouts/desktop_footer' %>
    </footer>
    <script>
        visible = false; //var that keeps track if the content is visible.
        txt = document.getElementById("call-form");
        btn = document.getElementById("call-trigger");
        function toggle() {
            if(visible) {
                visible = 0;
                txt.style.display = 'none';
            } else {
                visible = 1;
                txt.style.display = 'block';
            }
        };
    </script>
</div>