<div class="lg:hidden">
    <%= render 'layouts/mobile_nav' %>
        <div>
            <% if @rental.cover_image.attached? %>
                <%= image_tag @rental.cover_image, class:"rounded-b rounded-lg object-cover bg-no-repeat w-full h-74" %>
                    <% end %>
        </div>
        <div class="font-bold text-7xl capitalize mx-4">
            <%= @rental.name %>
        </div>
        <div class="p-6 capitalize text-5xl mx-6 mb-32">
            <div class="my-4">
                <%= link_to @rental.town.name, towns_path(@town) if @rental.town %>,
                    <%= link_to @rental.estate.name, estates_path(@estate) if @rental.estate %> estate</div>
            <div class="my-4">kshs
                <%= @rental.price %> per month</div>
            <div class="my-4">
                <%= @rental.units %> units</div>
            <div class="my-4">
                <%= @rental.bedrooms %> bedrooms</div>
            <div class="my-4">
                <div>for more infor and site view</div>
                <%= @rental.contacts %>
            </div>
            <div class="my-4">created by:
                <%= @rental.user.username if @rental.user %>
            </div>

            <% if logged_in? && (current_user == @rental.user || current_user.admin?) %>
                <%= link_to 'edit rental', edit_rental_path %>
                <%= link_to 'delete rental', rental_path, method: :delete ,class: "btn bg-red-700 mx-4 p-4 rounded-lg font-semibold text-white" %>
            <% end %>
        </div>
        <div>
            <% if @rental.photos.attached? %>
                <div class="grid grid-cols-3">
                    <% (0...@rental.photos.count).each do |photo| %>
                        <div class="my-2 mx-2">
                            <%= image_tag(@rental.photos[photo], class:"object-cover w-full h-74") %>
                        </div>
                        <% end %>
                </div>
                <% end %>
        </div>
        <%= render 'layouts/mobile_footer' %>
</div>
<div class="sm:hidden lg:block">
    <div class="bg-white">
        <%= render 'layouts/desktop_nav' %>
    </div>
    <div class="flex text-base space-x-3 py-4 px-6 uppercase text-gray-700 font-medium">
        <div>rentals in kenya</div>
        <div>></div>
        <div>
            <%= link_to town_path(@rental.town) do %>
                <%= @rental.town.name %>
                    <% end %>
        </div>
        <div>></div>
        <div>
            <%= @rental.name %>
        </div>
    </div>
    <div>
        <div class="bg-cover bg-center h-66 items-baseline relative" style="background-image: url(<%= url_for(@rental.cover_image) if @rental.cover_image.attached? %>);background-color: rgba(0, 0, 0, 0.487);background-blend-mode: multiply;">
            <div class="text-4xl font-semibold px-16 py-8 text-white uppercase bottom-0 absolute">
                <%= @rental.name %>
            </div>
        </div>
        <div class="flex gap-4 mx-16 p-6">
            <div class="mx-2 shadow-3xl px-6 py-4 font-semibold capitalize rounded-lg h-auto w-74">
                <div class="border-b border-gray-700">
                    <div class="flex space-x-2 justify-center items-center">
                        <% if @rental.user.profile_picture.attached? %>
                            <%= image_tag @rental.user.profile_picture, class:"h-24 w-24 rounded-full object-center border-white border-solid border-4 object-cover" %>
                        <% end %>
                    </div>
                    <div class="text-teal-700 text-center my-2"><%= link_to @rental.user.username, user_path(@rental.user) %></div>
                </div>
                <div class="my-3 text-teal-700">offices:
                    <div class="font-normal text-black"><%= @rental.user.location %></div>
                </div>
                <div class="my-3 text-teal-700">contacts:
                    <div class="font-normal text-black"><%= @rental.user.phone %></div>
                </div>
                <div class="my-3 text-teal-700">email:
                    <div class="font-normal normal-case text-black"><%= @rental.user.email %></div>
                </div>
                <div class="my-6"><%= link_to "edit rental", edit_rental_path, class:"font-semibold tracking-wider p-3 w-auto border-2 border-teal-600 bg-teal-700 text-white uppercase text-center" %></div>
            </div>
            <div class="w-full">
                <div class="my-4 mx-6 shadow-xl rounded-lg px-24 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                    <div class="font-medium text-teal-700 text-3xl uppercase">kes
                        <%= @rental.price %> per month</div>
                </div>
                <div class="my-4 mx-6 shadow-xl rounded-lg px-8 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                <div class="uppercase text-gray-500 font-semibold text-sm my-2">other photos </div>
                    <% if @rental.photos.attached? %>
                        <div class="px-4 grid grid-cols-5">
                            <% (0...@rental.photos.count).each do |photo| %>
                                <div class="border-2 border-white w-32">
                                    <%= image_tag(@rental.photos[photo], class:"object-cover h-24 w-32") %>
                                </div>
                                <% end %>
                        </div>
                    <% end %>
                </div>
                <div class="my-4 mx-6 shadow-xl rounded-lg py-4 px-8 border-1 border-gray-400 bg-gray-200">
                    <div class="font-medium text-teal-700 capitalize my-3 text-2xl">description</div>
                    <div class="font-Arial text-md text-gray-700 hidden" id='text'><%= markdown(@rental.description) %> </div>
                    <% if @rental.description.length > 250 %>
                        <%= truncate(@rental.description, length:250) %>
                        <button id='btn' class="p-2 border-2 border-teal-700 rounded-lg capitalize text-teal-700 hover:text-white hover:bg-teal-700  transform scale-200 duration-500 ease-in-out my-3 text-center" onclick='toggle()'>Show More</button>
                    <% else %>
                        <%= @rental.description %>
                    <% end %>
                </div>
                <div class="my-4 mx-6 shadow-xl rounded-lg px-6 py-4 capitalize border-1 border-gray-400 bg-gray-200">
                    <div class="uppercase my-2 text-xl font-bold text-gray-600">property faqs</div>
                    <div class="mx-4">
                        <div class="my-2">
                            <div class="text-lg">how many bedrooms does this property have?</div>
                            <div class="text-md text-gray-800 mx-5 normal-case">the property has
                                <%= @rental.bedrooms %> bedrooms</div>
                        </div>
                        <div class="my-2">does this property have a servants quoters(SQ)?</div>
                        <div class="my-2">how much car space is available?</div>
                        <div class="my-2">how far is this property from eldoret town?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%= render 'layouts/desktop_footer' %>
    </footer>
    <script>
        visible = false; //var that keeps track if the content is visible.
        txt = document.getElementById("text");
        btn = document.getElementById("btn");
        function toggle() {
            if(visible) {
                visible = 0;
                btn.innerHTML = 'Show more';
                txt.style.display = 'none';
            } else {
                visible = 1;
                btn.innerHTML = 'Show Less';
                txt.style.display = 'block';
            }
        };
    </script>
</div>