<div class="lg:hidden">
<%= render 'layouts/top_nav' %>
    <div>
        <% if @rental.photo.attached? %>
            <%= image_tag @rental.photo, class:"rounded-b rounded-lg object-cover bg-no-repeat w-full h-74" %>
        <% end %>
    </div>
    <div  class="font-bold text-7xl capitalize mx-4"><%= @rental.name %></div>
    <div class="p-6 capitalize text-5xl mx-6 mb-32">
        <div class="my-4"><%= link_to @rental.town.name, towns_path(@town) if @rental.town %>, <%= link_to @rental.estate.name, estates_path(@estate) if @rental.estate %> estate</div>
        <div class="my-4">kshs <%= @rental.price %> per month</div>
        <div class="my-4"><%= @rental.units %> units</div>
        <div class="my-4"><%= @rental.bedrooms %> bedrooms</div>
        <div class="my-4">
            <div>for more infor and site view</div>
            <%= @rental.contacts %>
        </div>
        <div class="my-4">created by: <%= @rental.user.username if @rental.user %></div>
       
       <% if logged_in? && (current_user == @rental.user || current_user.admin?) %>
            <%= link_to 'edit rental', edit_rental_path %>
            <%= link_to 'delete rental', rental_path, method: :delete ,class: "btn bg-red-700 mx-4 p-4 rounded-lg font-semibold text-white" %>
       <% end %>
    </div>
<%= render 'layouts/bottom_nav' %>
</div>