<div class="lg:hidden">
<%= render "layouts/top_nav" %>
<%= form_for @estate do |f| %>
  <div class="bg-gray-300 text-4xl p-4">
    <div class="capitalize font-bold text-6xl">edit estate</div>
            <select name="estate[town_id]">
                <% Town.all.each do |town| %>
                    <option value="<%= town.id %>"><%= town.name %></option>
                <% end %>
            </select>
        <%= f.text_field :name, placeholder: "estate name", class: "m-4 p-2 rounded-lg" %>
        <%= f.submit "Submit", disable_with: "Submiting...", class: "bg-gray-900 text-white font-semibold p-4 my-4 capitalize rounded-lg" %>
    </div>
<% end %>
<%= render 'layouts/bottom_nav' %>
</div>