<div class="lg:hidden">
    <div class="bg-teal-700 py-4 text-4xl text-white">
        <div class="px-6"><i class="fa fa-chevron-left mr-6"></i><%= link_to "#{@town.name}", rentals_path %></div>
    </div>
    <p class="font-semibold text-gray-600 uppercase text-2xl ml-12 mt-4">list of estates in eldoret</p>
    <div class="">
        <% @town.rentals.each do |rental| %>
            <div class="border-t border-b border-gray-600 my-1 py-2">
                <div class="flex space-x-12 items-center my-4 px-12">
                    <div>
                        <% if rental.user.profile_picture.attached? %>
                            <%= image_tag rental.user.profile_picture, class:"rounded-full object-cover object-center border-2 border-gray-900 h-24 w-24" %>
                        <% end %>
                    </div>
                    <div>
                        <div class="text-3xl text-teal-700 font-medium uppercase"><%= link_to rental.user.username, user_path(rental.user) %></div>
                        <div class="text-2xl font-medium uppercase"><i class="fa fa-map-marker-alt text-teal-700 mx-2"></i><%= link_to rental.town.name, town_path(rental.town) if rental.town %>,<%= link_to rental.estate.name, estate_path(rental.estate) if rental.estate  %></div>
                    </div>
                </div>
                <div class="bg-white">
                    <%= link_to rental_path(rental) do %> 
                        <div class="rounded-lg pb-10 bg-white shadow-b shadow-r shadow-3xl">
                            <% if rental.cover_image.attached? %>
                                <%= image_tag rental.cover_image, class:"rounded-b rounded-lg object-cover bg-no-repeat w-full h-74" %>
                            <% end %>
                            <div class="text-5xl pt-4 uppercase font-seimbold px-12"><%= rental.name  %></div>
                            <div class="">
                                <div class="text-4xl px-6"><i class="fa fa-bed text-teal-700 mx-2"></i><%= rental.bedrooms %> rooms</div>
                                <div class="text-4xl px-6 py-2 capitalize">kshs <%= rental.price %></div>
                            </div>
                        </div>  
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
